<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>wrerzl@ebhaqubhfrntrapl.pbz</string>
	<key>contactName</key>
	<string>Jeremy Bueler</string>
	<key>description</key>
	<string>Jeremy's shiny new bundle</string>
	<key>name</key>
	<string>Jeremy’s Bundle</string>
	<key>uuid</key>
	<string>98067371-A581-48F1-B2A8-D4ED776AA182</string>
</dict>
</plist>
